.container {
  background-color: skyblue;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
}

form {
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
label {
  margin-top: 0.5rem;
}
.btn {
  margin: 1rem auto;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.history-container button {
  margin: 0.2rem 0.5rem;
  padding: 0.3rem;
  border-radius: 8px;
  border: 0px none;
  box-shadow: 0px 0px 5px 0.5px grey;
}
.weather-page {
  width: 100%;
  height: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.weather-today {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
}
.weather-week {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* weather cards */
.today-container {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}
.today-container .card {
  flex-direction: row;
  justify-content: center;
}
.today-container img {
  width: fit-content;
  height: 100%;
  margin: auto;
}

.week-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  background-color: lightblue;
}
.week-container .card {
  width: 50%;
}
.week-container .card img {
  width: fit-content;
  height: fit-content;
}

.list-elements {
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .today-container .card {
    flex-direction: column;
  }
}
